/* Carousel container */
.inat-carousel {
    max-width: 100%;
    margin: 20px auto;
    position: relative;
}

/* Carousel slide container */
.inat-carousel .slick-slide {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh; /* Adjust the height based on the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }
  
  /* Media queries for different screen sizes */
  @media (max-width: 767px) {
    .inat-carousel .slick-slide {
      height: 70vh;
    }
  }
  
  @media (max-width: 480px) {
    .inat-carousel .slick-slide {
      height: 100vh;
    }
  }
  

/* Overlay container */
.inat-carousel .slick-slide .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}

/* Species name, Observation Date, and Observer username styling */
.inat-carousel .slick-slide .overlay h3,
.inat-carousel .slick-slide .overlay p {
    margin: 0;
    font-size: 18px;
}

.inat-carousel .slick-slide .overlay h3 {
    font-weight: bold;
}

/* Navigation arrows positioning */
.inat-carousel .slick-prev,
.inat-carousel .slick-next {
    position: absolute;
    top: calc(50% - 20px);
    font-size: 20px;
    z-index: 1;
    color: #333;
}

.inat-carousel .slick-prev {
    left: 5px;
}

.inat-carousel .slick-next {
    right: 5px;
}

.inat-carousel .slick-prev:before,
.inat-carousel .slick-next:before {
    opacity: 1;
}
